@use './_variables' as *

@mixin flexCenter($direction, $justify, $align, $gap)
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $align
  gap: $gap

@mixin labelStyle()
  font-size: 1.6rem
  font-weight: $light-weight

@mixin inputWrapper()
  width: 100%
  height: 56px
  border-radius: 250px
  display: flex
  gap: 10px
  align-items: center
  background-color: rgba($tertiary-color, 0.37)
  padding: 0 20px

@mixin inputStyle()
  width: 250px
  height: 100%
  padding: 10px
  background-color: transparent
  font-size: 1.6rem
  &::placeholder
    color: rgba($primary-text-color, 0.37)
  &:focus
    outline: none

@mixin iconStyle($font-size, $color)
  font-size: $font-size
  color: $color

@mixin buttonStyle($width, $height, $border-radius, $box-shadow, $bg-color, $font-size, $font-weight, $letter-color, $letter-spacing)
  width: $width
  height: $height
  border-radius: $border-radius
  box-shadow: $box-shadow
  background-color: $bg-color
  font-size: $font-size
  font-weight: $font-weight
  color: $letter-color
  letter-spacing: $letter-spacing

@mixin profileContent($userinfo-color)
  position: absolute
  z-index: 3
  top: 15px
  right: 20px
  text-align: right
  color: $userinfo-color
  display: grid
  grid-template-rows: 45px
  &--title
    font-size: 3.6rem
    font-weight: $extrabold-weight
  &--text
    font-size: 2rem
    font-weight: $medium-weight
  &--span
    font-size: 1.3rem
    font-weight: $medium-weight

@mixin profilePictureStyles()
  width: 92px
  height: 92px
  background-color: $tertiary-color
  position: absolute
  z-index: 6
  top: 15px
  left: 15px
  display: grid
  place-content: center
  border-radius: 50%
  img
    width: 82px
    height: 82px
    border-radius: 50%
  