@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap')

/* Colors */
$primary-color: #4E7949
$secondary-color: #F28826
$tertiary-color: #CED9A7
$quaternary-color: #FBE3BF
$light-color: #FFFFFF
$dark-color: #000000
$primary-text-color: #3F615A


/* Fonts */
$font-source: 'Rubik', sans-serif
$light-weight: 300
$regular-weight: 400
$medium-weight: 500
$bold-weight: 700
$extrabold-weight: 800

/* Size screen */
$mobile-width: 375px 
$tablet-width: 601px
$desktop-width: 1280px