@use "../../styles/_variables" as *;

.homeMain {
  width: 100%;
  background-color: $light-color;
}

.home {
  width: 100%;
  height: 100%;
  background-color: $quaternary-color;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  &-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}
.padding {
  padding: 20px 2rem;
}
.altcard {
  display: flex;
  justify-content: flex-start;
  background-color: #f5f7ed;
  padding: 10px;
  border-radius: 10px;
}
.simpleAltcard {
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
}
.text-time {
  background-color: #cde280;
  border-radius: 50px;
  padding: 2px 8px;
  text-align: center;
}
.text-title {
  color: $dark-color;
  font-size: 12px;
  font-weight: 500;
}
.text-subtitle {
  color: #a5a5a5;
  font-size: 11px;
  font-weight: 500;
}

.customSplide {
  margin: 30px 0;
}

.img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

.todayImage {
  width: 100px;
  aspect-ratio: 1/1;
}

.img-container {
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}
.overText {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 20px;
  font-size: 16px;
  font-weight: 700;
  color: $light-color;
}
.img-container::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #95ad90);
  opacity: 1;
}
.title {
  color: #3f615a;
  font-size: 32px;
  font-weight: 700;
  &-user {
    color: #4e7949;
    font-weight: 400;
  }
}
.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subtitle {
  color: #959595;
  font-weight: 400;
  font-size: 20px;
  margin: 20px 0;
}
