@use "../../styles/_variables" as *;

main {
  width: 100%;
}

.home {
  width: 100%;
  height: 100%;
  background-color: $quaternary-color;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  &-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}
.padding {
  padding: 0 2rem;
}
.altcard {
  background-color: #f5f7ed;
  padding: 10px;
  border-radius: 10px;
}
.text-time {
  background-color: #cde280;
  border-radius: 50px;
  padding: 2px 8px;
  text-align: center;
}
.text-title {
  color: $dark-color;
  font-size: 12px;
  font-weight: 500;
}
.text-subtitle {
  color: #a5a5a5;
  font-size: 11px;
  font-weight: 500;
}

.img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}
.img-container {
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}
.img-container::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #95ad90);
  opacity: 1;
}
.title {
  color: #3f615a;
  font-size: 32px;
  font-weight: 700;
  &-user {
    color: #4e7949;
    font-weight: 400;
  }
}
.subtitle {
  color: #959595;
  font-weight: 400;
  font-size: 20px;
}
