@use '../../styles/_variables' as *

.user-profile
  &__contact-info
    position: absolute
    z-index: 3
    top: 15px
    right: 20px
    text-align: right
    color: $light-color
    display: grid
    grid-template-rows: 45px
    &--title
      font-size: 3.6rem
      font-weight: $extrabold-weight
    &--text
      font-size: 2rem
      font-weight: $medium-weight
    &--span
      font-size: 1.3rem
      font-weight: $medium-weight
  &__picture-container
    width: 92px
    height: 92px
    background-color: $tertiary-color
    position: absolute
    z-index: 6
    top: 15px
    left: 15px
    display: grid
    place-content: center
    border-radius: 50%
    img
      width: 82px
      height: 82px
      border-radius: 50%
  .close-edit
    position: absolute
    top: 200px
    right: 25px
    font-size: 2rem
    color: $primary-text-color
    z-index: 3
.user-profile-button
  background-color: $secondary-color !important