@use '../../styles/_variables' as *
@use '../../styles/_mixins' as *

.main-adminhome
  background-image: url("../../assets/images/wallpaper-3.png")
  background-size: cover
  height: 100vh
  display: flex

.container
  width: 394px
  height: 424px
  background: white
  border-top-left-radius: 73px
  border-top-right-radius: 73px
  display: flex
  flex-direction: column
  align-itmes: center
  margin-top: 514px
  &__picture-container
    width: 92px
    height: 92px
    background-color: $light-color
    position: absolute
    z-index: 6
    top: 15px
    left: 15px
    display: grid
    place-content: center
    border-radius: 50%
    img
      width: 82px
      height: 82px
      border-radius: 50%
