@use '../../styles/_variables' as *
@use '../../styles/_mixins' as *


.main-explore
  background: $light-color
  display: flex
  flex-direction: column
  justify-content: center
  

.container3
  width: 100%
  height: 100%
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center 

  &__title
    width: 206px
    height: 66px
    display: flex
    flex-direction: column
    align-items: center
    color: $primary-text-color
    font-weight: $extrabold-weight
    text-align: center
    font-size: 2.4rem
    line-height: 139.176%
    letter-spacing: 1.92px
    margin-bottom: 61px // Ajusta según sea necesario
    margin-top: 40px

  &__subtitle
    color: $primary-text-color
    width: 330px
    height: 30px
    font-family: $font-source
    font-size: 16px
    font-weight: $medium-weight
    line-height: 139.176% /* 22.268px */
    text-align: left
    margin-top: 34px
    margin-left: 0px
    


  &__activity__A
    width: 320px
    height: 140px
    display: flex
    justify-content: space-around
    flex-direction: row
    gap: 10px
    margin-top: 10px

    &__nivel1
      display: flex
      gap: 20px
    
            
      &__X
        display: flex
        gap: 20px
        border: 4px solid purple
        flex-direction: column
        align-items: center
        
        .line1
          width: 70px
          height: 70px
          margin-bottom: 0px

        .line2
          display: flex
          margin-top: -15px
          
          
        
        .line3
          margin-top: 0px
          font-size: 12px
          text-align: center
          color: $primary-text-color
          font-family: $font-source
          font-weight: $regular-weight
          line-height: 139.176% /* 16.701px */

        
      
          



  &__activity__B
    display: flex
    gap: 10px
    align-items: flex-start

    &__nivel2
      display: flex
      gap: 20px
      
      
      &__Y
        display: flex
        gap: 20px
        flex-direction: column
        align-items: center
        width: 153px
        height: 125px
        border-radius: 8px
        margin-top: 8px
        &--line4
          widht: 153px
          height: 124px
        &--line5
          margin-top: -15px
          font-size: 12px
          text-align: center
          color: $primary-text-color
          font-family: $font-source
          font-weight: $light-weight
          line-height: 139.176% /* 16.701px */





  &__activity__C
    position: relative
    &__nivel1
      margin-top: 83px
      &__Z
        position: absolute
        top: 0
        left: 0
        display: flex
        align-items: center
        gap: 10px
        margin-top: 130px
        margin-left: 24px
        &--line6
          width: 100%
          height: auto
          border-radius: 8px
          z-index: 1
          &:before
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: linear-gradient(180deg, rgba(255, 251, 251, 0.27) 0%, rgba(149, 173, 144, 0.42) 59.9%, rgba(78, 121, 73, 0.70) 100%, rgba(205, 226, 128, 0.22) 100%)
            z-index: 2
            
      
        &--line8
          color: $light-color
          font-family: $font-source
          font-size: 16px
          font-weight: $bold-weight
          line-height: 87.741% /* 14.039px */
          letter-spacing: 1.44px
          
